<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Translator Application</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <main>
            <%- body %>
        </main>
    </body>
</html>