<!-- Header -->
<%- include('../../partials/admin/header.ejs') %>

<div class="m-10">
    <!-- Listing for the settings data -->
    <% if (settings && settings.length > 0) { %>
        <%- include('../../partials/admin/list.ejs', { settings }) %>
        
    <% } %>
    
</div>
<!-- Footer -->
<%- include('../../partials/admin/footer.ejs') %>