<% date = new Date() %>
<footer class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 pb-8 pt-16 sm:px-6 lg:px-8 lg:pt-24">
      
  
      <div
        class="mt-16 border-t border-gray-100 pt-8 sm:flex sm:items-center sm:justify-between lg:mt-24"
      >
        <ul class="flex flex-wrap justify-center gap-4 text-xs lg:justify-end">
          <li>
            <a href="#" class="text-gray-500 transition hover:opacity-75"> Terms & Conditions </a>
          </li>
  
          <li>
            <a href="#" class="text-gray-500 transition hover:opacity-75"> Privacy Policy </a>
          </li>
  
          <li>
            <a href="#" class="text-gray-500 transition hover:opacity-75"> Cookies </a>
          </li>

          <li>
            <a href="/documentation" class="text-gray-500 transition hover:opacity-75"> Documentation </a>
          </li>

          <li>
            <a href="#" class="text-gray-500 transition hover:opacity-75">{Application Name} copyright &COPY; <%= date.getFullYear() %> </a>
          </li>
        </ul>
  
        
      </div>
    </div>
  </footer>