<section class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
      <div class="mx-auto max-w-3xl text-center">
        <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">Quick Translation Metrics</h2>
  
        <p class="mt-4 text-gray-500 sm:text-xl">
          Here is the quick mertics for the time we helped the team to translate the works.
        </p>
      </div>
  
      <div class="mt-8 sm:mt-12">
        <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
          <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Total Translation Actions</dt>
  
            <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl"><%= actionsCount %></dd>
          </div>
  
          <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Total Repos</dt>
  
            <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl"><%= settingsCount %></dd>
          </div>

          <div class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center">
            <dt class="order-last text-lg font-medium text-gray-500">Total Languages</dt>
  
            <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl"><%= languagesCount %></dd>
          </div>
        </dl>
      </div>


      
    </div>
  </section>